.flex-all-center{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.btm{
    padding: 1px 7px;
    border: 2px solid rgb(31, 181, 255);
    cursor: pointer;
    color: rgb(245, 241, 241);
    background-color:var(--main-bg-color);  ;
    
}

.my-2{
    
        font-family: 'KoHo', sans-serif;
        margin: 26px 0px;    
}

.text-center{
    text-align: center;
}

.my-1{
    
    font-family: 'KoHo', sans-serif;
    margin: 6px 0px;    
}